<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57079864786-nkotsd1oj4r58ae5as5q7ipq6avp3cdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57079864786-nkotsd1oj4r58ae5as5q7ipq6avp3cdc</string>
	<key>API_KEY</key>
	<string>AIzaSyD6mr3nIkyKPSp_lVbDNWkXIX6YeLXzvIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>57079864786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>work.shunyaendoh.twisk</string>
	<key>PROJECT_ID</key>
	<string>twisk-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>twisk-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57079864786:ios:2889336d6e68f96a22fc0b</string>
	<key>DATABASE_URL</key>
	<string>https://twisk-flutter.firebaseio.com</string>
</dict>
</plist>